html{
    box-sizing: border-box;
    font-size: 62.5%;    
}
@font-face {
    font-family: elegant1;
    src: url(hacuia.otf);
}
@font-face {
    font-family: elegant2;
    src: url(RawonDemo.ttf);
}
@font-face {
    font-family: aesthetic1;
    src: url(Ayrton\ Pight.ttf);
}
@font-face {
    font-family: elegant3;
    src: url(coolvetica\ condensed\ rg.otf);
}
@font-face {
    font-family:elegant4;
    src: url(wence.otf);
}
*{
    margin: 0%;
    padding: 0%;
    box-sizing: inherit;
}


/* header */
.logo{
    float:left;
    padding: 1.5rem 4rem;
    font-size: 5rem;
    border: rgba(190,29,253,1);
    
    font-family: elegant2;
    background: rgb(134,44,44);
background: linear-gradient(96deg, rgba(134,44,44,1) 0%, rgba(152,0,0,1) 79%);
}

.ninja{
    float:left;
    margin-left: 22%;
    margin-top: 6rem;
    font-size: 4rem;
    font-family: aesthetic1;
    transition: 1.2s;
}
.ninja:hover{
    margin-top: 2rem;
}

li{
    list-style: none;
}

.nav li{
    float: right;
    padding: 1.5rem ;
}

.navlogo{
    background: rgb(134,44,44);
background: linear-gradient(96deg, rgba(134,44,44,1) 0%, rgba(152,0,0,1) 79%);
    border:none;
    padding: 1rem 2rem;
    border-radius: 1rem 2rem;
    text-decoration: none;
    transition: .3s;
    font-family: elegant3;
    font-size: 2rem;
    
}
.navlogo:hover{
    background: rgb(255,255,255);
background: linear-gradient(27deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 100%);
    transform: scale(1.1);
    
}

a{
    text-decoration: none;
    font-size: 1.5rem;
    transition: .3s ;
    color: black;
    font-size: 2rem;
}
a:hover{
    color: brown;

}

h1{
    background: rgb(250,235,215);
background: linear-gradient(96deg, rgba(250,235,215,1) 0%, rgba(255,228,192,1) 100%);
    height: 8rem;
    position: relative;
    overflow:hidden;
}

/* body */

body{
    background-color: cornsilk
}
/* isi */
.containermain{
    display: flex;
    box-sizing: border-box;
    height:auto;
    flex-direction: row;
    justify-content: space-around;
}

.containerkiri{
    box-sizing: border-box;
    padding: 0rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    width: 70rem;
}
.virus{
    width: 25rem;
    height: 25rem;
    filter: drop-shadow(4px 4px 4px rgb(234, 214, 134));

}
.containerkiri .virus2{
    align-self: center;
    width: 20rem;
    height: 20rem;
}

.container{
    box-sizing: border-box;
    width: 60rem;
    height: auto;
    margin-top: 4rem;
    display: flex auto;
    flex-wrap: wrap;
    flex-direction: column;
}

.containerkanan{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    padding: 0rem 4rem;
    width: 70rem;
}
.containerkanan .virus1{
    align-self: flex-end;
}
.containerkanan .virus2{
    align-self: center;
    width: 20rem;
    height: 20rem;
}
.containerkanan .virus3{
    align-self: flex-end;
}


.containerbutton{
    display: flex;
    justify-content: center;
    gap: 4rem;
    margin-bottom: 2rem;
}
button{
    width: 10rem;
    height: 5rem;
    border-radius: 2rem;
    border: none;
    box-sizing: border-box;
    font-family: elegant3;
    font-size: 1.5rem;
    transition: .3s;
    background: rgb(134,44,44);
background: linear-gradient(96deg, rgba(134,44,44,1) 0%, rgba(152,0,0,1) 79%);
   font-size: 2.2rem;
}
button:hover{
    background: rgb(255,255,255);
    background: linear-gradient(27deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 100%);
    transform: scale(1.1);
    color: brown;
    display: block;
}


h2{
    font-family: elegant1;
    font-size: 5rem;
}

.batuk{
    border-radius: 2rem;
    width: 60rem;
    height: 40rem;
    position: relative;
    filter: drop-shadow(4px 4px 4px rgb(234, 214, 134));
}



p{
    font-family: elegant4;
    font-size: 2rem;
    box-sizing: border-box;
    margin-top: 4rem;
}

h3{
    font-family: elegant1;
    font-size: 5rem;
    margin-top: 10rem;
}

/* FOOTER */


.footermain{
    margin-top: 10rem;
    background: rgb(134,44,44);
    background: linear-gradient(96deg, rgba(134,44,44,1) 0%, rgba(152,0,0,1) 79%);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    size: 100%;
    justify-content: space-between;
}

.footerkiri{
    box-sizing: border-box;
    display: flex;
    box-sizing: border-box;
    width: 30rem;
    justify-content: center;
    align-items: center;
    font-family: elegant3;
    font-size: 3rem;
}

.footerkanan{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: 170rem;
    height: 20rem;
    flex-direction: column;
}
.knn1{
    height: 30%;
    font-size: 2.6rem;
    padding: 4rem;
  
    font-family: elegant3;
}
.knn2{
    
    height: 70%;
    display: flex;
    
}

.footerkanan li{
    list-style: none;
    display: flex;
    gap: 7rem;
}

.sosmed{
    width: 5rem;
    height: 5rem;
    transition: .3s;
}
.satu{
    width: 8rem;
}
.sosmed:hover{
    transform: scale(1.5);
}


